<hr />
<tr>
  <td class="recurrence" colspan="2">
    <p><strong><%= l(:field_recurrence)%></strong></p>
    <% if User.current.allowed_to?(:add_issue_recurrence, project) %>		
<%#= link_to(l(:label_add_recurring_task), new_recurring_task_path(:issue_id => issue.id, :project_id => project.id), :class => 'icon icon-add') %>
      <%= render :partial => "recurring_tasks/fields", :locals => { :next_step => 'create', :recurring_task => RecurringTask.new(params[:recurring_task]) } %>
    <% end %>
    <% if issue.recurs? %>
      <ul>
        <% issue.recurring_tasks.each do |rt| %>
          <li><%= if User.current.allowed_to?(:view_issue_recurrence, project) then link_to(rt.to_s, recurring_task_path(:id => rt.id, :project_id => project.id)) else rt.to_s end %></li>
        <% end %>
      </ul>
    <% elsif !issue.new_record? %>
      <p><%= l(:label_no_recurrence)%></p>
    <% end %>
  </td>
</tr>